.nav_container{
    display: grid;
    grid-template-columns: 10% 20% 55% 15%;
    align-items: center;
    height: 70px;
    border-bottom: 1px solid;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;

}
.icon_div{
    display: flex;
    align-items: center;
    justify-content: center;
}
 ul {
    display: flex;
    list-style: none;
    gap:10%;
    font-weight: 600;
    cursor: pointer;
}
li{
    display: flex;
    align-items: center;
    color: green;
    justify-content: space-between;
}
li>p{
    margin-left: 5px;
    color:black ;
}
#time{
    border: none;
    font-weight: bold;
}
@media (max-width:890px){
    .nav_container{
        display: grid;
        grid-template-columns: 25% 50% 10%;
    }
    .ui_div{
        display: none;
    }
    .cart_ui>li>p{
       display: none;
    }
}
 